@model WebApp.Models.Product

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Product with ID: @Model.ProductId</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.ProductId)
                <div class="row">
                    <div class="col-3">
                        <label>Current Image:</label><br />
                        <img src="@Model.ImageURL" alt="Current Image" class="w-100" />
                    </div>

                    <div class="col-9">
                        <div class="row">
                            <div class="col-6">
                                <label for="fileUpload">Upload New Image:</label>
                                <input type="file" name="fileUpload" id="fileUpload" accept="image/*"
                                    class="form-control" />
                            </div>
                            <div class="col-6">
                                <label for="name">Product name:</label>
                                <input type="text" name="Name" id="name" required class="form-control" value="@Model.Name" />
                            </div>
                            <div class="col-6 mt-3">
                                <label for="name">Price:</label>
                                <input type="number" name="Price" id="name" required class="form-control" value="@Model.Price" min=0 />
                            </div>
                            <div class="col-6 mt-3">
                                <label for="name">Availability:</label>
                                <select id="Availability" name="Availability" class="form-control" required>
                                    <option value="In Stock" selected="@(Model.Availability == "In Stock" ? true : false)">In Stock</option>
                                    <option value="Sold Out" selected="@(Model.Availability == "Sold Out" ? true : false)">Sold Out</option>
                                </select>
                            </div>

                            <div class="col-12 mt-3">
                                <label for="description">Description:</label>
                                <input type="text" name="Description" id="description" required class="form-control" value="@Model.Description" />
                            </div>

                            <div class="col-12 mt-3">
                                <label for="name">Specification:</label>
                                <input type="text" name="Specification" id="name" required class="form-control" value="@Model.Specification" />
                            </div>

                            <div class="col-12 mt-3">
                                <label for="CategoryId">Category</label>
                                <select id="CategoryId" name="CategoryId" class="form-control">
                                    <option value="">Select Category</option>
                                    <option value="">-------------------------------</option>
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        <option value="@category.CategoryId" selected="@(Model.CategoryId == category.CategoryId ? true : false)">@category.Name</option>
                                    }
                                </select>
                            </div>

                            <div class="col-12 mt-4 d-flex justify-content-center">
                                <a class="btn btn-outline-secondary w-50" type="button" href="/dashboard/product">Back</a>
                                <button class="btn btn-success w-50" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
<!-- /.container-fluid -->