@model WebApp.Models.Product

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Product Tables</h6>
            <button class="btn btn-success" data-toggle="modal" data-target="#addModal">
                Add more
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Availability</th>
                            <th>Description</th>
                            <th>Specification</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Availability</th>
                            <th>Description</th>
                            <th>Specification</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in ViewBag.Products)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td class="w-25">
                                    <div class="text-center">
                                        <img src="@item.ImageURL" alt="@item.Name" class="w-25">
                                    </div>
                                </td>
                                <td>@item.Name</td>
                                <td>$@item.Price</td>
                                <td>@item.Availability</td>
                                <td class="hiddenTD">@item.Description</td>
                                <td class="hiddenTD">@item.Specification</td>
                                <td class="text-center">
                                    <a class="btn btn-warning" href="/dashboard/product/edit/@item.ProductId">Edit</a>
                                    <a class="btn btn-danger" href="/dashboard/product/delete/@item.ProductId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- Add Modal-->
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add more</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("Create", "Product", FormMethod.Post, new
                            {
                                enctype =
                            "multipart/form-data"
                            }))
                            {
                                <div class="row">
                                    <div class="col-6">
                                        <label for="fileUpload">Choose image:</label>
                                        <input type="file" name="fileUpload" id="fileUpload" accept="image/*" required
                                            class="form-control" />
                                    </div>
                                    <div class="col-6">
                                        <label for="name">Product name:</label>
                                        <input type="text" name="Name" id="name" required class="form-control" />
                                    </div>
                                    <div class="col-6 mt-3">
                                        <label for="name">Price:</label>
                                        <input type="number" name="Price" id="name" required class="form-control" min=0 />
                                    </div>
                                    <div class="col-6 mt-3">
                                        <label for="name">Availability:</label>
                                         <select id="Availability" name="Availability" class="form-control" required>
                                            <option value="In Stock">In Stock</option>
                                            <option value="Sold Out">Sold Out</option>
                                        </select>
                                    </div>

                                    <div class="col-12 mt-3">
                                        <label for="description">Description:</label>
                                        <input type="text" name="Description" id="description" required class="form-control" />
                                    </div>

                                    <div class="col-12 mt-3">
                                        <label for="name">Specification:</label>
                                        <input type="text" name="Specification" id="name" required class="form-control" />
                                    </div>

                                    <div class="col-12 mt-3">
                                        <label for="CategoryId">Category</label>
                                        <select id="CategoryId" name="CategoryId" class="form-control">
                                            <option value="">Select Category</option>
                                            <option value="">-------------------------------</option>
                                            @foreach (var category in ViewBag.Categories)
                                            {
                                                <option value="@category.CategoryId">@category.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer mt-3">
                                        <a class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</a>
                                        <button class="btn btn-success" type="submit">Add</button>
                                </div> 
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->